@model LPM.Web.Models.UserDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutMe" class="control-label"></label>
                <input asp-for="AboutMe" class="form-control" />
                <span asp-validation-for="AboutMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrithPlace" class="control-label"></label>
                <input asp-for="BrithPlace" class="form-control" />
                <span asp-validation-for="BrithPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrithTime" class="control-label"></label>
                <input asp-for="BrithTime" class="form-control" />
                <span asp-validation-for="BrithTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthName" class="control-label"></label>
                <input asp-for="BirthName" class="form-control" />
                <span asp-validation-for="BirthName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZodiacSign" class="control-label"></label>
                <input asp-for="ZodiacSign" class="form-control" />
                <span asp-validation-for="ZodiacSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gotra" class="control-label"></label>
                <input asp-for="Gotra" class="form-control" />
                <span asp-validation-for="Gotra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mamkul" class="control-label"></label>
                <input asp-for="Mamkul" class="form-control" />
                <span asp-validation-for="Mamkul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorComplexion" class="control-label"></label>
                <input asp-for="ColorComplexion" class="form-control" />
                <span asp-validation-for="ColorComplexion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                <input asp-for="BloodGroup" class="form-control" />
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

