@model LPM.Web.ViewModels.ProfileViewModel

	<container>
		<div class="row">
			<div class="col-md-12">
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pr-1">
				<div class="form-group">
					<label>Education</label>
					<input class="form-control" asp-for="UserExpectation.Education" type="text" placeholder="Education">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pr-1">
				<div class="form-group">
					<label>Height</label>
					<input class="form-control" asp-for="UserExpectation.Height" type="text" placeholder="Height">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pr-1">
				<div class="form-group">
					<div class="form-group">
						<label>Color Complection</label>
						<select class="form-control" asp-for="UserExpectation.ColorComplection" asp-items="ViewBag.ColorComplections"></select>
					</div>
				</div>
			</div>
		</div>
	</container>