@model LPM.Web.Models.ProfileViewModel

	<container>
		<div class="row">
			<div class="col-md-12">
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pr-1">
				<div class="form-group">
					<label>Education</label>
					<input class="form-control" asp-for="UserProfession.Education" type="text" placeholder="Birth Name">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pr-1">
				<div class="form-group">
					<label>Profession</label>
					<input class="form-control" asp-for="UserProfession.Profession" type="text" placeholder="Profession">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pr-1">
				<div class="form-group">
					<div class="form-group">
						<label>Workplace</label>
						<input class="form-control" asp-for="UserProfession.Workplace" type="text" placeholder="Workplace">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pr-1">
				<div class="form-group">
					<div class="form-group">
						<label>Annual Income</label>
						<input class="form-control" asp-for="UserProfession.AnnualIncome" type="text" placeholder="Annual Income">
					</div>
				</div>
			</div>
		</div>
	</container>